<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>667399509950-a0ag17p3rlclrd7087li77e8vaqrhe6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667399509950-a0ag17p3rlclrd7087li77e8vaqrhe6o</string>
	<key>API_KEY</key>
	<string>AIzaSyCqL8zjI8nsbEZR6v9jAu3ii7VOZAlJKcY</string>
	<key>GCM_SENDER_ID</key>
	<string>667399509950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SahilAgarwal.SCTicket1234593734584y5285</string>
	<key>PROJECT_ID</key>
	<string>scticket-dfde3</string>
	<key>STORAGE_BUCKET</key>
	<string>scticket-dfde3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:667399509950:ios:e7f9881d6a1ab07d</string>
	<key>DATABASE_URL</key>
	<string>https://scticket-dfde3.firebaseio.com</string>
</dict>
</plist>